.button {
  display: inline-flex;
  height: 2.5rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  }
  

  &.button-main {
    color: var(--palette-neutral-lightest);
    background-color: var(--palette-brand-main-ultradarkest);

    &:disabled {
      opacity: 0.4;
      background-color: var(--palette-neutral-base);
      cursor: not-allowed;
    }

    &.button-main--lg {
      height: 3.25rem;
    }
  }

  
  &.button-main--outline {
    color: var(--palette-brand-main-ultradarkest);
    border: 1px solid var(--palette-brand-main-ultradarkest);
    background-color: transparent;

    &:disabled {
      opacity: 0.4;
      background-color: var(--palette-neutral-base);
      cursor: not-allowed;
    }
  }

  img {
    margin-right: 1rem;
  }

  span {
    line-height: 1;
  }
}

.button--toggle-password {
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.button-menu {
  
}

.progress-navigation-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
  justify-content: space-between;
}

.button-highlight {
  width: 330px;
  max-width: 50%;
  height: 3.25rem;
  color: white;
  background-color: var(--palette-support-warning-darkest);
  border-radius: 40px;

  &.button-highlight--disabled {
    background-color: var(--palette-hightlight-greyscale-base);
  }

  &.button-highlight--left {
    border-radius: 40px 8px 8px 40px;
  }

  &.button-highlight--right {
    border-radius: 8px 40px 40px 8px;
  }

  &.button-highlight--outline {
    color: var(--palette-support-warning-darkest);
    background-color: white;
    border: 1px solid var(--palette-support-warning-darkest);

    &.button-highlight--disabled {
      color: var(--palette-hightlight-greyscale-base);
      background-color: white;
      border: 1px solid var(--palette-hightlight-greyscale-base);  
    }
  }
}