.close-button {
  /* width: 3.5rem;
  height: 3.5rem; */
  width: 22px;
  height: 22px;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--palette-neutral-dark);
  transition: background-color 0.75s ease-in-out;
  z-index: 1;

  &:hover {
    background-color: rgba(78, 156, 179, 0.9);
    background-color: rgba(78, 156, 179, 0.9);
    background-color: rgba(214, 109, 56, 0.8);
  }

  span {
    width: 45%;
    height: 45%;
  }
}