:root {
  --glass-blur-overlay: rgb(80, 66, 92, 0.9);
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  background-color: rgb(54, 124, 136, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}

.overlay .main-loader {
  margin: 0;
}