.selfie {
  width: 100%;
  display: flex;
  flex-direction: column;

  .modal-actions {
    align-items: flex-start;
  }
}

.selfie-header {
  width: 100%;
  display: flex;
}

.selfie-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.selfie-box {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  position: relative;  

  @media screen and (min-width: 768px) {
    width: calc(50% - 1.5%);
  }
}

.selfie-box_picture {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  /* border-radius: 48px; */
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    width: 410px;
    height: 410px;
    border-radius: 50px;
  }
}

.selfie-mask {
  width: 100%;
  position: absolute;
  top: 0;
  height: 0;
  z-index: 1;
}


.selfie-picture {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc(50% - 1.5rem);
  }
}