.uploaddocs {
  /* width: calc(50% - 1.5rem); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 0.75rem; */
}

.uploaddocs-header {
  width: 100%;
  display: flex;
}

.uploaddocs-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.uploaddocs-documents {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc(50% - 1.5%);
  }
}

.uploaddocs_description {
  color: var( --palette-neutral-darkest);
  margin-bottom: 1.5rem;
}

.uploaddocs_actions {
  padding: 0;
  margin: 2rem 0 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: initial;
  }
}

.uploaddocs_action-item {
  position: relative;
  width: 150px;
  /* height: 145px; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--palette-neutral-lighter); */

  /* &.uploaddocs_action-item--selected {
    background-color: var(--palette-brand-main-lightest);
  } */

  &:hover {
    .uploads_action-hover {
      display: flex;
      opacity: 1;
    }
  }
}

.uploaddocs_action-box {
  position: relative;
  width: 150px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--palette-neutral-lighter);
}

.uploaddocs_action-item--selected .uploaddocs_action-box {
  background-color: var(--palette-brand-main-lightest);
}

.uploaddocs_status-button {
  /* display: none; */
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: var(--palette-brand-main-base);
  font-size: 0.825rem;
  font-weight: 600;
  background-color: white;
  border: 1px solid var(--palette-brand-main-light);
  border-radius: 6px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  
  &:hover {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  }
}

.uploaddocs_status-button.signed {
  color: var(--palette-brand-main-darkest);
  border-color: var(--palette-brand-main-darkest);
}

.uploaddocs_status-button.unsigned {
  color: var(--palette-highlight-light);
  border-color: var(--palette-highlight-light);
}

.uploaddocs_doc-tag {
  position: absolute;
  top: -10px;
  left: auto;
  right: auto;
  margin: auto;
  display: inline-block;
  padding: 0 0.75rem;
  height: 22px;
  line-height: 22px;
  background-color: var(--palette-neutral-lightest); /* Or #F6F7F9 if not defined */
  border: 1px solid var(--palette-brand-main-lightest);
  color: var(--palette-brand-main-base);
  font-weight: 600;
  font-size: 0.675rem;
  border-radius: 9999px;
  margin-bottom: 0.5rem;
  text-align: center;
  z-index: 2;
}

.uploaddocs_action-button {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.uploaddocs_action-button--picture {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--palette-neutral-dark);
  background-color: var(--palette-neutral-lightest);
}


.uploads_action-hover {
  width: 100%;
  height: 100%;
  padding: 0.175rem;
  position: absolute;
  /* display: none; */
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  /* background-color: rgba(var(--palette-highlight-light), 0.6); */
  background-color: rgba(223, 78, 16, 0.6);
  border-radius: 8px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &:after {
    content: "";
    width: 75%;
    height: 4px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 24px;
    background-color: #fff;
  }

  button {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-weight: 500;
    background-color: transparent;
  }
}