body {
  margin: 0;
  background-color: var(--palette-brand-main-base);
  color: var(--palette-brand-main-dark);

  > div {
    *.hidden {
      display: none;
    }
  }
}

main {
  background-color: var(--palette-neutral-lightest);
}

.main-content {
  display: flex;
  padding-top: 2.5rem;
  flex-direction: column;
  gap: 3rem;

  @media screen and (min-width: 431px) {
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    min-height: 600;
    padding-top: 4.25rem;
  }
}

.main-content_header {
  margin-bottom: 2rem;
}

p.content-description {
  margin: 0 0 1.25rem;
  font-size: 16px;
  font-weight: 600;
  color: var(--palette-brand-main-dark);
}

.container {
  max-width: 1360px;
  padding: 0.75rem;
}

h1 {
  &.brand {
    
    & span {
      display: none;
    }
  }
}