:root {
  
  --palette-brand-main-darkest: #352D3C;
  --palette-brand-main-dark: #453750;
  --palette-brand-main-base: #50425C;
  --palette-brand-main-light: #65558F;
  --palette-brand-main-lighter: #73648A;
  --palette-brand-main-lightest: #A393BF;


  --palette-brand-secondary-darkest: #B8860B;
  --palette-brand-secondary-dark: #B8860B;
  --palette-brand-secondary-base: #B8860B;
  --palette-brand-secondary-light: #B8860B;
  --palette-brand-secondary-lightest: #B8860B;

  --palette-neutral-darkest: #FFFFFF;
  --palette-neutral-dark: #FFFFFF;
  --palette-neutral-base: #FFFFFF;
  --palette-neutral-light: #FFFFFF;
  --palette-neutral-lightest: #FFFFFF;
}