.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--palette-brand-main-lighter);
}

.header--logged-out {
  height: calc((50vh) - (75px / 2));
}

.header--logged-in {
  height: 42px;
}

.header--logged-in #main-picture {
  width: 2rem;
  height: 2rem
}