:root {
  /*  *********
      BRAND (Main blueish green scale) 
      main tones: #214765, #367C88 
  */
  --palette-brand-main-ultradarkest:    #214765;
  --palette-brand-main-ultradark:       #2C5477;
  --palette-brand-main-darkest:         #366188;   
  --palette-brand-main-darker:          #366788;   
  --palette-brand-main-dark:            #366E88;   
  --palette-brand-main-tint:            #367588;

  --palette-brand-main-base:            #367C88;

  --palette-brand-main-light:           #4E9CB3;
  --palette-brand-main-lighter:         #52AABA;
  --palette-brand-main-lightest:        #7299AC;
  --palette-brand-main-ultralight:      #AAD1D8;

  /* SECONDARY (Verde de ação) */
  --palette-brand-secondary-darkest: #2DA853;
  --palette-brand-secondary-dark:    #2DA853;
  --palette-brand-secondary-base:    #2DA853;
  --palette-brand-secondary-light:   #2DA853;
  --palette-brand-secondary-lightest:#2DA853;

  /* HIGHLIGHT Greyscale (orange) */
  --palette-hightlight-greyscale-base: #aa9387;

  /* HIGHLIGHT (orange) */
  --palette-highlight-base: #D66D38;
  --palette-highlight-base: #d66d38;
  --palette-highlight-light:    #DF4E10;
  --palette-highlight-light:    rgb(223, 78, 16);

  /* SUPPORT (Laranja para destaque ou erro) */
  --palette-support-warning-darkest: #D66D38;
  --palette-support-warning-base:    #DF4E10;

  /* NEUTRAL — cinzas e brancos */
  --palette-neutral-ultradarkest:  #363636;
  --palette-neutral-darkest:  #A2A3A6;
  --palette-neutral-dark:     #D3D4D6;
  --palette-neutral-base:     #D6D3D8;
  --palette-neutral-light:    #D9D9D9;
  --palette-neutral-lighter:  #E3E4E6;
  --palette-neutral-lightest: #F3F4F6;

  /* BACKGROUND / BASES */
  --palette-surface-white:    #FFFFFF;
  --palette-surface-gray:     #D3D4D6;
}