body {
  margin: 0;
  background-color: var(--palette-brand-main-darkest);
  color: var(--palette-brand-main-base);
}

* {
  font-family: 'Nunito';
}

main {
  display: flex;
  background-color: var(--palette-neutral-base);
}

header {
  background-color: var(--palette-brand-main-light);
}

#app-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--palette-neutral-base);
}

article {
  width: 100vw;
  padding: 16px;
  display: flex;
  border-top: 16px solid var(--palette-brand-main-dark);
}

#app-container[page="home-logged-out"] article {
  height: calc((50vh) - (75px / 2));
  border-top: 24px solid var(--palette-brand-main-dark);
}

#app-container[page="home-logged-in"] article {
  height: calc((50vh) - (75px / 2));
}

h2 {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
}

.article-header {
  display: flex;
  flex-direction: row;
}

#app-container[page="home-logged-in"] article > div {
  width: 100%;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: column;
}

fieldset {
  width: 100%;
  display: flex;
  padding: 0;
  margin-bottom: 1rem;
  flex-direction: column;
  border: none;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  font-style: italic;
  color: var(--palette-brand-main-lighter);
  border: 1px solid var(--palette-brand-main-darkest);
  border-radius: 4px;
}
